body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  margin-top: 50px;
}

#grid-container {
  display: grid;
  grid-gap: 0;
  width: 800px;
  height: 800px;
  border: 1px solid black;
  margin-bottom: 20px;
}

.cell {
  border: 1px solid #ccc;
}

.button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.color-button {
  border: none;
  height: 30px;
  width: 30px;
  margin-right: 10px;
  border-radius: 0;
}

.white {
  background-color: white;
}

.black {
  background-color: black;
}

.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.purple {
  background-color: purple;
}

.reset-container {
  border-right: 1px solid black;
  margin-right: 10px;
  padding-right: 10px;
}

#reset-button {
  background-color: white;
  border: 1px solid black;
}

.inputs-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  margin-right: 10px;
}

/* new CSS for thin grid lines */
.cell {
  border: 1px solid #ccc;
}

/* set the color of the cell to the current color */
.cell.active {
  background-color: var(--current-color);
}
